{% extends "GUIAnnoncesBundle::layout_annonce.html.twig" %}

{% block jsSupplementaire %}
	<script type="text/javascript" src="{{ asset('js/carte/france/jquery.vmap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/carte/france/jquery.vmap.france.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/carte/france/buildemap_index.js') }}"></script>
{% endblock %}

{% block title %}
	{{ parent() }} Accueil
{% endblock %}

{% block body_content %}
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
			<div class="block_type">
				<div class="bandeau-wrapper small_bandeau">
					<div class="bandeau-front">Recherche par région</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
				<div class="row" id="francemap_conteneur">
					<div class="hidden-xs col-sm-8 col-md-7 col-lg-7">
						<div id="francemap"></div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
						<div id="francemap_liste">
							<ul>
								<li id_map="7"><a href="">Alsace</a></li>
								<li id_map="12"><a href="">Aquitaine</a></li>
								<li id_map="20"><a href="">Auvergne</a></li>
								<li id_map="3"><a href="">Basse-Normandie</a></li>
								<li id_map="10"><a href="">Bourgogne</a></li>
								<li id_map="5"><a href="">Bretagne</a></li>
								<li id_map="9"><a href="">Centre</a></li>
								<li id_map="6"><a href="">Champagne-Ardenne</a></li>
								<li id_map="14"><a href="">Corse</a></li>
								<li id_map="22"><a href="">Franche-Comté</a></li>
								<li id_map="2"><a href="">Haute-Normandie</a></li>
								<li id_map="4"><a href="">Île-de-France</a></li>
								<li id_map="16"><a href="">Languedoc-Roussillon</a></li>
								<li id_map="19"><a href="">Limousin</a></li>
								<li id_map="17"><a href="">Lorraine</a></li>
								<li id_map="15"><a href="">Midi-Pyrénées</a></li>
								<li id_map="21"><a href="">Nord-Pas-de-Calais</a></li>
								<li id_map="8"><a href="">Pays de la Loire</a></li>
								<li id_map="1"><a href="">Picardie</a></li>
								<li id_map="18"><a href="">Poitou-Charentes</a></li>
								<li id_map="13"><a href="">Provence-Alpes-Côte d'Azur</a></li>			
								<li id_map="11"><a href="">Rhône-Alpes</a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			<div class="block_type">
				<div class="bandeau-wrapper small_bandeau important_bandeau">
					<div class="bandeau-front">Les meilleurs guides</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
				<div class="block_type_content_padding">
					<div class="row item_liste_annonce">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 liste_annonce_img">
							<img src="http://www.guidepechesaumon.com/wp-content/uploads/2014/12/guide-peche-charter-lac-ontario.jpg">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 liste_annonce_info">
							<h3>Antoine SOKOLOFF</h3>
							<span class="preview_info">Sortie pour 1 à 6 personnes - Sortie bateau - Promenade</span>
							<br>
							<button type="button" class="btn btn-default btn-lg bt_lieu">Equihen-Plage, Nord-pas-de-Calais <a href="">(localiser)</a></button>
							<a class="link_preview" href="{{ path('gui_annonces_voir') }}">En savoir +</a>
						</div>
					</div>
					<div class="row item_liste_annonce espacement_top">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 liste_annonce_img">
							<img src="http://www.guidepechesaumon.com/wp-content/uploads/2014/12/guide-peche-charter-lac-ontario.jpg">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 liste_annonce_info">
							<h3>Antoine SOKOLOFF</h3>
							<span class="preview_info">Sortie pour 1 à 6 personnes - Sortie bateau - Promenade</span>
							<br>
							<button type="button" class="btn btn-default btn-lg bt_lieu">Equihen-Plage, Nord-pas-de-Calais <a href="">(localiser)</a></button>
							<a class="link_preview" href="{{ path('gui_annonces_voir') }}">En savoir +</a>
						</div>
					</div>
					<div class="row item_liste_annonce espacement_top">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 liste_annonce_img">
							<img src="http://www.guidepechesaumon.com/wp-content/uploads/2014/12/guide-peche-charter-lac-ontario.jpg">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 liste_annonce_info">
							<h3>Antoine SOKOLOFF</h3>
							<span class="preview_info">Sortie pour 1 à 6 personnes - Sortie bateau - Promenade</span>
							<br>
							<button type="button" class="btn btn-default btn-lg bt_lieu">Equihen-Plage, Nord-pas-de-Calais <a href="">(localiser)</a></button>
							<a class="link_preview" href="{{ path('gui_annonces_voir') }}">En savoir +</a>
						</div>
					</div>
				</div>
			</div>
			<div class="block_type">
				<div class="bandeau-wrapper small_bandeau">
					<div class="bandeau-front">Ils nous ont rejoint</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
				<div class="block_type_content_padding">
					<div class="row item_liste_annonce">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 liste_annonce_img">
							<img src="http://www.guidepechesaumon.com/wp-content/uploads/2014/12/guide-peche-charter-lac-ontario.jpg">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 liste_annonce_info">
							<h3>Antoine SOKOLOFF</h3>
							<span class="preview_info">Sortie pour 1 à 6 personnes - Sortie bateau - Promenade</span>
							<br>
							<button type="button" class="btn btn-default btn-lg bt_lieu">Equihen-Plage, Nord-pas-de-Calais <a href="">(localiser)</a></button>
							<a class="link_preview" href="{{ path('gui_annonces_voir') }}">En savoir +</a>
						</div>
					</div>
					<div class="row item_liste_annonce espacement_top">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 liste_annonce_img">
							<img src="http://www.guidepechesaumon.com/wp-content/uploads/2014/12/guide-peche-charter-lac-ontario.jpg">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 liste_annonce_info">
							<h3>Antoine SOKOLOFF</h3>
							<span class="preview_info">Sortie pour 1 à 6 personnes - Sortie bateau - Promenade</span>
							<br>
							<button type="button" class="btn btn-default btn-lg bt_lieu">Equihen-Plage, Nord-pas-de-Calais <a href="">(localiser)</a></button>
							<a class="link_preview" href="{{ path('gui_annonces_voir') }}">En savoir +</a>
						</div>
					</div>
					<div class="row item_liste_annonce espacement_top">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 liste_annonce_img">
							<img src="http://www.guidepechesaumon.com/wp-content/uploads/2014/12/guide-peche-charter-lac-ontario.jpg">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 liste_annonce_info">
							<h3>Antoine SOKOLOFF</h3>
							<span class="preview_info">Sortie pour 1 à 6 personnes - Sortie bateau - Promenade</span>
							<br>
							<button type="button" class="btn btn-default btn-lg bt_lieu">Equihen-Plage, Nord-pas-de-Calais <a href="">(localiser)</a></button>
							<a class="link_preview" href="{{ path('gui_annonces_voir') }}">En savoir +</a>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-xs-offset-1 col-md-offset-1 col-lg-offset-1">
			<div class="block_type block_top_annonce_jour">
				<div class="bandeau-wrapper small_bandeau important_bandeau">
					<div class="bandeau-front">Le guide du jour</div>
					<div class="bandeau-edge-topleft"></div>
					<div class="bandeau-edge-topright"></div>
					<div class="bandeau-edge-bottomleft"></div>
					<div class="bandeau-edge-bottomright"></div>
					<div class="bandeau-back-left"></div>
					<div class="bandeau-back-right"></div>
				</div>
				<div class="block_type_content_full">
					<img src="../../annonce_a_la_une.png" class="top_annonce_jour_img">
					<div class="legende_top_jour">
						<p class="legende_top_jour_info">
							<span class="nom">Charle Lepetit</span>
							<br>
							<span class="lieu">Bretagne,<br>Pêche en eau douce</span>
						</p>
						<a type="button" class="btn btn-default btn-lg bt_plus_homepage" href="{{ path('gui_annonces_voir') }}">
							En savoir +
						</a>
					</div>
				</div>
			</div>
			<div class="block_type">
				<div class="block_type_content_full">
					<a href="">
						<img src="http://media.lehighvalleylive.com/sports_impact/photo/jersey-fishing-e8fa1ad6e915c7da.jpg" width="100%">
					</a>
				</div>
			</div>
			<div class="block_type">
				<div class="block_type_content_full">
					<a href="">
						<img src="http://moldychum.typepad.com/moldy_chum/images/2007/07/17/under_arm.jpg" width="100%">
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}